:root.theme-dark {
  --color-text-menu: #ff0070;
  --color-accent: #ff0070;
  --color-title: #db00ff;
  --color-bd: #ff0070;
  --color-focus: #ff0070;
  --color-decor: #ff0070;
  --color-cnt-title: #ff0070;
  --accent-text: #000028;
  --accent-allocation: rgba(255, 0, 112, 0.4);
  --color-text: #f1b2ce;
  --background-url: url(../images/cover-image-dark.png);
  --color-bg-page: #000028;
}

.theme-dark .header__rec {
  display: inline;
}
