:root.theme-light {
  --accent-color: #ff8dcb;
  --accent-title: #ffc2e6;
  --accent-text: #353430;
  --accent-allocation: rgba(50, 49, 45, 0.4);
  --color-text: #353430;
  --background-url: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --accent-title: #ffc2e6;
    --accent-text: #353430;
    --accent-allocation: rgba(50, 49, 45, 0.4);
    --color-text: #353430;
    --background-url: url(../images/cover-image-light.png);
  }

  .header__rec {
    display: none;
  }
}

.theme-light .header__rec {
  display: none;
}
