:root.theme-light {
  --color-text-menu: #353430;
  --color-accent: #ff8dcb;
  --color-title: #ffc2e6;
  --color-bd: #353430;
  --color-focus: #353430;
  --color-decor: #353430;
  --color-cnt-title: #353430;
  --accent-text: #353430;
  --accent-allocation: rgba(50, 49, 45, 0.4);
  --color-text: #353430;
  --background-url: url(../images/cover-image-light.png);
  --color-bg-page: #fff1f7;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text-menu: #353430;
    --color-accent: #ff8dcb;
    --color-title: #ffc2e6;
    --color-bd: #353430;
    --color-focus: #353430;
    --color-decor: #353430;
    --color-cnt-title: #353430;
    --accent-text: #353430;
    --accent-allocation: rgba(50, 49, 45, 0.4);
    --color-text: #353430;
    --background-url: url(../images/cover-image-light.png);
    --color-bg-page: #fff1f7;
  }

  .header__rec {
    display: none;
  }
}

.theme-light .header__rec {
  display: none;
}
