.page {
  background-image: var(--background-url);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  color: var(--accent-color);
}

.header__rec:after {
  content: "";
  display: inline-block;
  border-radius: 100%;
  fill: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  margin: 0 8px 2px 8px;
}

button {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  outline: none;
}

.header__theme-menu-list {
  display: grid;
  justify-self: end;
  align-self: center;
  gap: 12px;
  margin-top: 70px;
  text-align: center;
  position: relative;
  width: 70px;
  height: 26px;
}

.header__theme-menu-button {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: var(--accent-color);
  text-transform: lowercase;
  padding: 0 8px;
  cursor: pointer;
  width: 70px;
  height: 26px;
  box-sizing: border-box;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-allocation);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
}

.hero {
  display: grid;
  align-self: center;
  gap: 55px;
}

.hero__title {
  font-weight: 700;
  line-height: 83%;
  color: var(--accent-title);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  margin-top: 77px;
}

.hero__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--accent-text);
}

.title-decor {
  background-color: var(--accent-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: 10px;
  left: 10px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  margin-left: 88%;
}

.decorated-zone::after {
  bottom: 10px;
  right: 10px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  margin-right: 88%;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__list-paragraph {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__section {
  display: flex;
  flex-direction: column;
  padding: 40px 10px 0;
  gap: 20px;
}

.content__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--accent-color);
}

.content__information {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__information-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--accent-text);
}

.content__information-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--color-text);
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
  outline: none;
}

.text-link:hover {
  text-decoration: underline;
}

.text-link:focus-visible {
  outline: 1px solid var(--color-text);
  width: 97px;
  height: 33px;
}

.content__section-two {
  padding: 50px 10px 0;
}

.content__section-three {
  padding: 50px 10px 0;
}

.content__article {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__information-title--font {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--accent-text);
}

.content__gallery {
  display: grid;
  gap: 10px;
  padding: 50px 10px 40px;
}

.content__gallery-img {
  display: grid;
  gap: 10px;
}

.footer {
  padding: 0 10px 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.footer__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 700;
  font-size: 116px;
  line-height: 83%;
  color: var(--accent-title);
  text-shadow: 2px 2px 0 var(--accent-color);
  height: 100vh;
  min-height: 667px;
}

@media (width >= 768px) {
  .header {
    padding: 20px 20px 20px 0;
  }
  .header__rec {
    top: 20px;
    right: 22px;
  }

  .hero {
    gap: 160px;
  }

  .hero__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .hero__text {
    justify-self: end;
    max-width: 364px;
  }

  .header__theme-menu-list {
    margin-top: 178px;
  }

  .content__section {
    flex-direction: row;
    padding: 60px 20px 0;
  }

  .content__information {
    max-width: 711px;
  }

  .content__section-two {
    padding: 80px 20px 0 20px;
    display: flex;
    flex-direction: column;
  }

  .adaptiv__title {
    max-width: 236px;
  }

  .adaptive__article {
    max-width: 728px;
  }

  .content__section-three {
    padding: 80px 20px 0 20px;
  }

  .content__gallery {
    padding: 80px 20px 0 20px;
    gap: 20px;
  }

  .content__gallery-img {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
    grid-template-areas:
      "sunset sunset cat"
      "cassette books cat"
      "cassette street street";
  }

  .content__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .sunset {
    grid-area: sunset;
  }

  .cat {
    grid-area: cat;
  }

  .cassette {
    grid-area: cassette;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }

  .decorated-zone::before {
    top: 20px;
    left: 47px;
  }

  .decorated-zone::after {
    bottom: 20px;
    right: 47px;
  }

  .footer {
    padding: 60px 20px 0 20px;
  }

  .footer__title {
    font-size: 120px;
  }
}

@media (width >= 1024px) {
  .decorated-zone::before {
    left: 78px;
  }

  .decorated-zone::after {
    bottom: 20px;
    right: 78px;
  }

  .hero {
    gap: 115px;
  }

  .hero__title {
    margin-top: 158px;
  }

  .hero__text {
    max-width: 491px;
  }

  .header__theme-menu {
    display: grid;
    justify-self: center;
    align-self: start;
    margin-right: 106px;
  }

  .header__theme-menu-list {
    display: flex;
    margin-top: 0;
  }

  .content__information {
    max-width: 733px;
  }

  .adaptiv__title {
    max-width: 315px;
  }

  .adaptiv__ul {
    display: flex;
    flex-direction: row;
  }

  .footer {
    padding: 60px 20px 0 20px;
  }

  .footer__title {
    font-size: 157px;
  }

  .footer.decorated-zone::before {
    top: 80px;
  }
}
